<mapper namespace="user">

    <select id="selectList" resultType = "com.soso.bean.User">
        select * from user
    </select>

    <select id="selectOne" resultType = "com.soso.bean.User" parameterType="com.soso.bean.User">
        select * from user where username = #{username} and id = #{id}
    </select>

</mapper>