<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.mapper.IUserMapper">

    <resultMap id="orderMap" type="com.soso.bean.User">
        <result property="id" column="uid"></result>
        <result property="orderTime" column="orderTime"></result>
        <result property="total" column="total"></result>

        <association property="user" javaType="com.soso.bean.User">
            <result property="id" column="id"></result>
            <result property="username" column="username"></result>
        </association>

    </resultMap>

    <select id="findOrderAndUser" resultMap="orderMap">
        select * from user u,orders o where u.id = o.uid
    </select>

</mapper>